mixin Project(projectLogo, projectName, projectLink, projectDescription, projectState, projectType, projectImages, projectLanguages, projectLibraries)
    div.project
        if projectLogo
            img(src=projectLogo)
        h3.name= projectName
        if projectLink
            a(href=projectLink).projectLink Website
        p.description= projectDescription

        if projectLanguages || projectLibraries
            h3.toolsButton Tools Used

            div.projectTools
                if projectLanguages
                    h3.langs Languages:
                    div.projectLanguages
                        each lang in projectLanguages
                            // TODO: Make the languages change background colour based on the GitHub colours
                            h3(class="lang " + lang.toLowerCase())= lang

                if projectLibraries
                    h3.libs Libraries:
                    div.projectLibraries
                        each lib in projectLibraries
                            h3(class="lib " + lib.toLowerCase())= lib

        div.infoBar
            h3(class="state " + projectState.toLowerCase())= projectState
            h3(class="state " + projectType.toLowerCase())= projectType

        if projectImages
            if Object.keys(projectImages).length > 0
                div.expander
                    h2.expanderText

                div(class="hiddenContent hidden")
                    ol
                        each data, name in projectImages
                            li
                                img(src=data[0] alt=data[1]).projectImage
                                p= name