mixin Project(projectLogo, projectName, projectDescription, projectImages)
    div.project
        if projectLogo
            img(src=projectLogo)
        h3= projectName
        p= projectDescription

        div.expander
            h2.expanderText

        // TODO: Add image descriptions
        div(class="hiddenContent hidden")
            ol
                each data, name in projectImages
                    li
                        img(src=data[0] alt=data[1]).projectImage
                        p= name