mixin Project(projectLogo, projectName, projectLink, projectDescription, projectState, projectType, projectImages)
    div.project
        if projectLogo
            img(src=projectLogo)
        h3= projectName
        if projectLink
            a(href=projectLink).projectLink Website
        p= projectDescription

        div.infoBar
            h3(class="state " + projectState.toLowerCase())= projectState
            h3(class="state " + projectType.toLowerCase())= projectType

        // if Object.keys(projectImages).length > 0
        if projectImages
            div.expander
                h2.expanderText

            div(class="hiddenContent hidden")
                ol
                    each data, name in projectImages
                        li
                            img(src=data[0] alt=data[1]).projectImage
                            p= name